html, body {
  margin: 0rem;
  padding: 0rem;
  font-size: 1rem; /*16px set by default */
  font-family: sans-serif;
}
.wrapper {
  max-width: 96rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem; /* 32px */
}